<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Detail</title>
</head>
<body>
  <p><strong>Title: </strong><%= @article.title %></p>
  <p><strong>Description: </strong><%= @article.description %></p>
  <p><strong>Created At:</strong><%= @article.created_at %></p>
</body>
</html>